@import '_global.scss';

.help {
  height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: black;

  h2, h3, button {
    opacity: 0.2;
  }

  h2, h3 {
    font-weight: 300;
    width: 100%;
    max-width: 500px;
  }

  h2 {
    color: white;
    font-size: 24px;
    transform: translateY(20px);
  }

  h3 {
    color: #c0c0c0;
    margin: 20px 0;
    font-size: 21px;
    transform: translateY(30px);
  }

  button {
    @extend %the-button;
    transform: translateY(40px);
  }
}

@media (min-width: 767px) {
  .help {
    h2, h3 {
      max-width: 530px;
    }
  
    h2 {
      color: white;
      font-size: 35px;
    }
  
    h3 {
      color: #c0c0c0;
      margin: 20px 0;
      font-size: 24px;
    }

    button {
      font-size: 17px;
      width: 170px;
      height: 45px;

      >div {
        height: 30px;
        width: 30px;
      }
    }
  }
}