.sunset {
  background: url('/public/img/fuji.png') no-repeat;
  background-position-x: center;
  background-size: 2000px;
  overflow: hidden;
}

// .sunset {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background: url('/public/img/fuji.png') no-repeat;
//   background-position-x: center;
//   background-size: 2000px;
//   height: 600px;

//   img {
//     position: absolute;
//     bottom: 40px;
//     height: 16px;
//   }
// }

// .sunset__text {
//   width: 70%;
//   max-width: 320px;
//   padding-right: 20px;

//   h2 {
//     color: white;
//     font-size: 18px;
//     font-weight: 300;
//     text-transform: uppercase;
//     margin-bottom: 8px;
//     transform: translateX(50px);
//     opacity: 0;
//   }

//   p {
//     color: #C0C0C0;
//     font-size: 14px;
//     transform: translateX(60px);
//     opacity: 0;
//   }
// }

// @media (min-width: 767px) {
//   .sunset {
//     align-items: end;
//   }
// }

// @media (min-width: 1080px) {
//   .sunset {
//     padding: 0 40px;
//   }
// }

// @media (min-width: 1280px) {
//   .sunset {
//     background-size: 135%;
//   }
// }
